body
{
  background-image: url(the-other-images/interf/logoazul.png);
  background-repeat: no-repeat;
  background-size: 240px 60px;
  background-position: 6% 25px;
}
input[type=submit],input[type=button],button[type=submit]
{
  background-color: #D6EAF8;
  padding: 4px 4px;
  border: outset #ABB2B9;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 3px 10px #000033;
}
.button
{
  background-color: #D6EAF8;
  padding: 4px 4px;
  border: outset #ABB2B9;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 3px 10px #000033;
}
.s1
{
  float:right;
  margin-right:10px;
  display:inline;
  text-shadow: 0px 0px 0px #FFFFFF;
  #background: #FFFFFF;
}
.lineR
{
  float: left;
  margin-right: 50px;
  display:inline;
  text-shadow: 1px 1px 5px #5DADE2;
  width: 340px;
}
.container
{
  padding: 15px 4px;
  box-sizing: border-box;
  font-size: 14px;
  border:10px groove #616161;
  border-radius: 25px;
}
.evilbtn
{
  display: inline;
  background-color: #F7DC6F;
  border:  double #FCF3CF;
  font-size: 15px;
  font-weight: bold;
  float: right;
  margin-right: 70px;
  cursor: default;
  border-radius: 50%;
  height: 80px;
}
/* para poner negras las letras */
a
{
  color: #333;
}
/* circ ext a menu*/
#nav
{
  margin: 0; /* evitar linea blanca alta */
  padding: 7px 6px 0;
  background: #d5d2d8b0;
  line-height: 100%; /*aplastado*/
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
/*lo acuesta*/
#nav li
{
  margin: 0 5px;
  float: right;
  position: relative;
  list-style: none;
}
/*infla las letras y las hace blancas*/
#nav a
{
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
}
/*obscurecer cuando pasas mouse*/
#nav a:hover
{
  background: rgb(255, 255, 255);
}
/*colorea actual estilizado hover*/
#nav .current a, #nav li:hover > a
{
  color: rgb(57, 59, 187);
  border-top: solid 2px #000000;
  box-shadow: 0 2px 2px rgb(0, 0, 0);
  text-shadow: 0 2px 0 rgb(255, 255, 255);
}
#nav
{
  float:right;
  display: inline-block;
}